<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDoUpdate</title>
</head>
<body>
	<form action="/top/update" method="post">	
		
		<!-- 12～17行目を抜くと空白のページが出る。 -->
		<!-- 変数式を${todo.todo}（エンティティの場合）　→　${todo}（単なる値）にしたらできた。
		コントローラで何をしているかが大事 -->
		To Do<textarea name="todo" th:text="${todolist.todo}"></textarea><br>
		優先度<input type="text" name="priority" th:value="${todolist.priority}"><br>
		期限<input type="text" name="deadline" th:value="${todolist.deadline}"><br>
		<!-- hiddenの1行を書く意味とは？→codeのキーを使ってデータを特定している -->
		<input type="hidden" name="code" th:value="${todolist.code}">
		<input type="submit" value="更新">
	
	</form>


</body>
</html>